.main {
	background: #000;
	width: 100%;
	height: 100%;

	text-align: center;
	overflow-y: auto;
}

.welcome {
	display: grid;
	grid-template-columns: 1fr 0fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: 'content advert';
}

.welcome .content {
	grid-area: content;
}

.welcome .advert {
	grid-area: advert;
	display: none;
}

.welcome .advert > div {
	top: 10vh;
	position: sticky;
	margin-top: 10vh;
}

.welcome .advert img {
	max-width: 90%;
	height: 80vh;
	border-radius: 12px;
	object-fit: contain;
	overflow: hidden;
	animation: breath 1.2s;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.welcome > div > * {
	margin: 0px auto;
}

.main > * {
	margin: 0px auto;
}

.main a {
	width: 100%;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.main em {
	display: block;
	font-style: normal;
	font-family: OpenSans-bold;
}

.main h2 {
	/*width: 100%;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;*/
	width: 100%;
	font-size: 1.3rem;
	text-align: center;
	font-family: OpenSans;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #ececec;
}

.main h1 {
	/*width: 100%;
	color: #b9a654;
	font-size: 4rem;*/
	color: var(--accent-color);
	font-size: 3rem;

	font-family: 'QuicheSans-bold';
	text-transform: uppercase;
	margin-bottom: 20px;
	max-width: 400px;
	line-height: 1.1;
	padding: 0px 10%;
}

.main em {
	display: block;
	font-weight: bold;
	font-style: normal;
}

.sort {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sort button{
	width: 200px;
	border: 1px solid var(--accent-color);
	background: 0 0;
	color: #333;
	padding: 10px;
	border-radius: 3px;
	margin: 20px 0;
	text-transform: uppercase;
	background: #fff;
}

.content {
	margin-top: 20px;
	padding: 0px 36px;
	max-width: 600px;
}

.content p {
	width: 100%;
	color: #ccc;
	font-size: 1rem;
	font-family: OpenSans;
	line-height: 1.7;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.content > :last-child {
	margin-top: 20px;
	padding-bottom: 40px;
}

.content a {
	color: var(--accent-color);
}

/*Overlay*/

.overlay {
	background: rgba(0, 0, 0, 0.8);
	display: none;
	width: 100%;
	height: 100%;
	z-index: -999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background ease-out 200ms, z-index ease-out 220ms;
	overflow: hidden;
}

.overlay.show {
	top: 0;
	opacity: 1;
	position: absolute;
	z-index: 100;
	min-width: 200px;
	display: flex;
}

.sort-by {
	display: block;
	width: 90%;
	min-width: 250px;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	margin: auto;
	max-height: 50vh;
	overflow-y: auto;
	max-width: 250px;
	border: 1px solid #b9a654;
}

.sort-by .item {
	cursor: pointer;
	padding: 0 20px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #b9a654;
	font-size: 1rem;
	text-transform: uppercase;
	transition: color ease-out 220ms;
	font-family: OpenSans;
}

.sort-by .item:hover {
	color: #b9a654;
}

.sort-by .title {
	cursor: not-allowed;
	color: #b9a654;
}

.sort-by a {
	text-decoration: none;
	color: #000;
}

.main-terms {
	background: #000;
	width: 100%;
	height: 100%;

	text-align: center;
	overflow-y: auto;
}

.main-terms > * {
	margin: 0px auto;
}

.main-terms > a {
	width: 100%;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.main-terms ol li a {
	color: #fff;
	font-style: italic;
}

.main-terms h2 {
	/*width: 100%;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;*/
	width: 100%;
	font-size: 1.3rem;
	text-align: center;
	font-family: OpenSans;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #ececec;
}

.main-terms h1 {
	/*width: 100%;
	color: #b9a654;
	font-size: 4rem;*/
	color: var(--accent-color);
	font-size: 3rem;

	font-family: 'QuicheSans-bold';
	text-transform: uppercase;
	margin-bottom: 20px;
	max-width: 400px;
	line-height: 1.1;
	text-align: center;
	padding: 0px 10%;
}

.terms {
	margin-top: 20px;
	padding: 0px 36px;
	max-width: 600px;
}

.terms ol {
	color: #fff;
	counter-reset: item;
	text-indent: -20px; /* key property */
    margin-left: 20px; /* key property */
}

.terms ol li {
	display: block;
}
.terms ol li:before {
	content: counters(item, '. ') '. ';
	counter-increment: item;
}

.terms li {
	text-align: left;
	display: block;
}

.terms ol li:before {
	content: counters(item, '.') '.';
	counter-increment: item;
	padding-right: 10px;
	margin-left: 20px;
}

.terms > ol > li {
	font-size: 1.1rem;
}

.terms > ol li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.terms ul {
	list-style-type: none !important;
	list-style: none; 
    width: 400px; 
    text-indent: -20px; /* key property */
    margin-left: 20px; /* key property */
    
}

.terms ol li ul li:before {
	content: "";
	text-indent: -20px;
	margin-left: 20px;
	width: 200px;
}

.terms ol li ul li {
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

@keyframes breath {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 768px) {
	.welcome {
		grid-template-columns: 0.55fr 0.45fr;
	}

	.welcome .content {
		margin: auto;
		margin-top: 20px;
	}

	.welcome .advert {
		display: unset;
	}

	.main h1 {
		max-width: 380px;
		font-size: 3.6rem;
	}
}

@media screen and (orientation: portrait) {
	.welcome {
		grid-template-columns: 1fr 0fr;
	}

	.welcome .advert {
		grid-area: advert;
		display: none;
	}
}
