.meditations > main {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
	gap: 0px 0px;
	grid-template-areas: '. .';
    overflow-y: auto;
    overflow-x: hidden;
}

.meditation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meditation > div {
    position: relative;
    width: 80%;
    max-width: 80%;
    height: 70%;
    max-height: 70%;
    border-radius: 8px;
    overflow: hidden;
    background: #eaeaea;
}

.meditation picture {
    overflow: hidden;
}

.meditation picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meditation > div > div  {
    position: absolute;
    top: 0;
    cursor: pointer;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    text-align: center;
}


/*PLAYER*/

.player-container {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    transform: translateY(100%);
    transition: transform ease-out 200ms;
}

.player-container.show {
    transform: translateY(0%);
}

.player {
    position: fixed;
    width: 100%;
    height: 98%;
    background: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.player > div {
    width: 100%;
    height: 100%;
}

.player nav {
    width: 100%;
    height: 50px;
}

.player main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 150px - env(safe-area-inset-bottom, var(--safe-area-inset)));
}

.player main > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player img {
    width: 300px;   
    height: 300px;
    max-width: 500px;
    background: #094568;
    border-radius: 16px;
    overflow: hidden;
}

.player h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player footer {
    border-top: 1px solid #eaeaea;
    width: 100%;
    height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player footer button {
	width: 200px;
    cursor: pointer;
    border: 1px solid #45C0E9;
	border-radius: 4px;
	height: 52px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	background: #45C0E9;
	transition: opacity ease-out 220ms;
}

.player footer button:disabled {
    opacity: 0.5;
}

.player footer .cancel {
    width: 150px;
    border: 1px solid rgb(255,69,58);
	border-radius: 4px;
	background: rgb(255,69,58);
	transition: opacity ease-out 220ms;
}

.player footer .pause {
    width: 150px;
    border: 1px solid #45C0E9;
	border-radius: 4px;
	background: #45C0E9;
	transition: opacity ease-out 220ms;
}

.player footer .resume {
    width: 150px;
    border: 1px solid rgb(102,212,207);
	border-radius: 4px;
	background: rgb(102,212,207);
	transition: opacity ease-out 220ms;
}


.player .close {
    margin-top: 16px;
    margin-left: 16px;
    width: 24px;
    height: 24px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
}

.player .close > div {
    width: 24px;
    height: 24px;
    mask-size: cover;
	background-color: #959595;
    mask-position: center;
    transition: background-color ease-out 220ms;
	mask-repeat: no-repeat;
    mask-image: url('../assets/icons/x.svg');
	-webkit-mask-image: url('../assets/icons/x.svg');
}

.progress-bar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.progress-bar > :first-child {
    width: 100%;
    background: #45C0E9;
    opacity: 0.5;
    height: 100%;
}

.progress-bar > :last-child {
    height: 100%;
    background: #45C0E9;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    transition: width ease-out 110ms;
}

.progress-bar-times {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .meditations > main {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
        grid-template-areas: '. .';
    }
}

@media screen and (min-width: 768px) {
	.meditations > main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 300px;
        grid-template-areas: '. . .';
    }
}

@media screen and (min-width: 1025px) {
	.meditations > main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 400px;
        grid-template-areas: '. . . . ';
    }
}