/* The switch - the box around the slider */
.settings {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	overflow: auto;
}

.settings > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.options-container {
	width: 90%;
}

.options-container h4 {
	padding: 0;
	text-transform: capitalize;
	margin-top: 40px;
	margin-bottom: 10px;

	padding-left: 20px;
}

.options {
	width: 100%;
	min-height: 52px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
}

.options > :not(:last-child) {
	border-bottom: 1px solid #c4c4c4;
}

.options .chevron-right {
	width: 24px;
	height: 24px;
	background-color: #c4c4c4;
	mask-image: url('../assets/icons/chevron-right.svg');
	-webkit-mask-image: url('../assets/icons/chevron-right.svg');
	mask-size: cover;
}

.add-btn {
	width: 24px;
	height: 24px;
	background-color: #c4c4c4;
	mask-image: url('../assets/icons/plus.svg');
	-webkit-mask-image: url('../assets/icons/plus.svg');
	mask-size: cover;
	transition: background-color ease-out 220ms;
}

.option {
	width: 100%;
	height: 52px;
	cursor: pointer;
}

.option.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.option > div {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	overflow: hidden;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	overflow: hidden;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #45c0e9;
}

input:focus + .slider {
	box-shadow: 0 0 1px #45c0e9;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.logout {
	margin-top: 50px;
	width: 90%;
	min-height: 52px;
	border: 1px solid #c4c4c4;
	background: none;
	color: rgb(255, 69, 58);
	border-radius: 12px;
	margin-left: auto;
	font-size: 1rem;
	font-weight: bold;
	margin-right: auto;
	transition: border ease-out 220ms;
}

.logout:focus,
.logout:hover {
	border: 1px solid rgb(255, 69, 58);
}

/*DIALOG*/

.dialog-container {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(100%);
	transition: transform ease-out 200ms;
}

.dialog-container.show {
	transform: translateY(0%);
}

.dialog {
	position: fixed;
	width: 100%;
	height: 98%;
	background: #fff;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	display: flex;
	flex-direction: column;
	bottom: 0;
}

.dialog > * {
	width: 100%;
	height: 100%;
}

.dialog nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.dialog select, .dialog input {
	-webkit-appearance: none;
	min-width: 150px;
	max-width: 150px;
	font-size: 1rem;
 	position: relative;
	border-radius: 4px;
	padding: 2px 0px;
	background: transparent;
	border: 1px solid #c4c4c4;
	color: #3d3d3d;
	text-align-last:right;
}

.dialog nav > :last-child {
	width: 50px;
}

.dialog nav .title {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.dialog main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: calc(100% - 150px - env(safe-area-inset-bottom, var(--safe-area-inset)));
}

.dialog footer {
	border-top: 1px solid #eaeaea;
	width: 100%;
	height: 100px;
	margin-top: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dialog footer button {
	width: 200px;
	cursor: pointer;
	border: 1px solid #45c0e9;
	border-radius: 4px;
	height: 52px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	background: #45c0e9;
	transition: opacity ease-out 220ms;
}

.dialog footer button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.dialog nav button {
	margin-top: 16px;
	margin-left: 16px;
	width: 24px;
	height: 24px;
	background: transparent;
	outline: none;
	border: none;
	padding: 0;
}

.dialog nav button > div {
	width: 24px;
	height: 24px;
	mask-size: cover;
	background-color: #959595;
	mask-position: center;
	transition: background-color ease-out 220ms;
	mask-repeat: no-repeat;
}

.dialog .close > div {
	mask-image: url('../assets/icons/x.svg');
	-webkit-mask-image: url('../assets/icons/x.svg');
}

.dialog .back > div {
	mask-image: url('../assets/icons/back.svg');
	-webkit-mask-image: url('../assets/icons/back.svg');
}

/*Goal*/
.goal-stage-display footer {
	border-top: 0px;
}

.goal-stage-display footer button {
	width: 90%;
	background: none;
	border: 1px solid #c4c4c4;
	transition: border ease-out 220ms;
}

.goal-stage-display footer button:hover {
	border: 1px solid #45c0e9;
}

.goal-stage-display footer button:hover .add-btn {
	background-color: #45c0e9;
}

.goal-stage-display .empty {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: #c4c4c4;
}

.goal-stage-display .empty > div {
	width: 90%;
}

.dialog footer.selected-goal-footer button {
	width: 150px;
}

.dialog footer.selected-goal-footer > :first-child {
	background: rgb(255, 69, 58);
	border: 1px solid rgb(255, 69, 58);
}

@media screen and (max-height: 800px) {
	.logout {
		margin-bottom: 72px;
	}
}

@media screen and (min-height: 800px) {
	.logout {
		margin-top: 20px;
		margin-bottom: 72px;
	}
}
