:root {
	--safe-area-inset: 20px;
	--accent-color: #decd63;
	--bottom-bar-height: 50px;
	--swiper-theme-color: #333333 !important;
	--sidebar-width: 380px;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

html,
body {
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeSpeed;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#root {
	width: 100%;
	height: 100%;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.view {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: 52px 1fr calc(
			var(--bottom-bar-height) +
				env(safe-area-inset-bottom, var(--safe-area-inset))
		);
	gap: 0px 0px;
	grid-template-areas:
		'header'
		'content'
		'navigation';
}

.personality, .authenticators {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: 52px 1fr calc(
			62px +
				env(safe-area-inset-bottom, var(--safe-area-inset))
		);
	gap: 0px 0px;
	grid-template-areas:
		'header'
		'content'
		'navigation';
}

.view header, .personality header, .authenticators header {
	height: 52px;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: header;
}

.view main, .personality main, .authenticators main {
	grid-area: content;
}

.navigation {
	grid-area: navigation;
}

.personality footer, .authenticators footer{
	height: 62px;
	grid-area: navigation;
}